@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body,
div,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'DM Sans', sans-serif;
}

.Body-section {
    display: flex;
}

.SideBar-section {
    width: 13%;
}

.Main-section {
    width: 87%;
}


.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}